body { margin: 1.5em; line-height: 1.5em; font-size: 16px; color: #666; background-color: #BBB; font:normal 16px/1.5em "Microsoft YaHei"}
a { color: #069; }
h1,h2,h3{ color: #000}
h1 { margin: 0; font-size: 2em; line-height: 2em; }
h2 { margin: 1em 0 0 0; font-size: 1.5em; line-height: 2em; font-family: "Microsoft YaHei"}
code{ color: #690}
ul, ol { list-style: none; }
ul, ol,dd,dt,dl,p{ padding: 0px; margin: 0px; }

.clearfix:before,
.clearfix:after { content: " "; /* 1 */
    display: table; /* 2 */}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.wrap { overflow: hidden; }

.status dt{ float: left; }
.status dd{ float: left; margin-right: 10px; }
.status-icon{ display: inline-block; padding: 0 5px; color: #fff; border-radius: 2px; font-size: 14px; }
.done{ background-color: #97adac; }
.dont{ background-color: #ad8976}
.doing{ background-color: #ec927f}
.affirm{background-color: #9DADD6}
.nopass{background-color: #535347}
.status-icon em{ font-style:inherit; display: none; }
.doing em.j,.dont em.w,.done em.y,.nopass em.n,.affirm em.p{ display: inline; }


.layout-mtb8{ margin: 8px 0; }
.layout-mb8{ margin-bottom: 8px; }
.red{ color: #FF0000}

.dont-box { margin-bottom: 10px; background: #EEE; font-size: 14px; padding: 5px 10px; border-radius: 3px;}
.importance{ border-top: 1px #000 solid; margin-top: 20px; padding-top: 20px; }
.none{ display: none}

.strong{ font-weight: 800; color: #333}
.team li{ float: left; margin-right: 15px; }

.invisible { position: absolute !important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); *clip: rect(1px 1px 1px 1px); /* IE6, IE7 */}
.middle { max-width: 960px; margin: 0 auto; overflow: hidden; }

/* head */
.head { padding: 23px 1.5em 24px; background-color: #EEE; border: 1px solid #999; border-bottom: none; }
.head-github iframe { vertical-align: bottom; }

/* info */
.info { padding: 1.5em; background-color: #FFF; border: 1px solid #999; border-top: none; font-family: '宋体'}
.info .button-group { display: block; margin: 0 auto; padding: 4px; height: 40px; text-align: center; border-bottom: none; }
.info .button-container { text-align: center; }



/* foot */
.foot { padding: 1em; color: #999; }
.foot a { color: #999; text-decoration: none; }

